apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-vip
    image: ghcr.io/kube-vip/kube-vip:{{ kubevip_version }}
    imagePullPolicy: Always
    args:
      - manager
    env:
      # Core VIP config
      - name: address
        value: "{{ kubevip_address }}"
      - name: vip_interface
        value: "{{ kubevip_interface}}"
      - name: vip_subnet
        value: "32"
      - name: port
        value: "6443"

      # Control-plane mode
      - name: cp_enable
        value: "true"
      - name: cp_namespace
        value: "kube-system"

      # Disable ARP / L2
      - name: vip_arp
        value: "false"

      # BGP enablement
      - name: bgp_enable
        value: "true"

      # BGP identity (this master)
      - name: bgp_routerid
        value: "10.0.1.11"
      - name: bgp_as
        value: "64513"

      # BGP peer (UDM Pro)
      - name: bgp_peeraddress
        value: "10.0.1.1"
      - name: bgp_peeras
        value: "64512"

      # No password (UDM default)
      - name: bgp_peerpass
        value: ""

      # Disable extras
      - name: vip_ddns
        value: "false"

    securityContext:
      capabilities:
        add:
          - NET_ADMIN
          - NET_RAW
          - SYS_TIME

    volumeMounts:
      - mountPath: /etc/kubernetes/admin.conf
        name: kubeconfig

  volumes:
    - name: kubeconfig
      hostPath:
        path: /etc/kubernetes/admin.conf

  hostAliases:
    - ip: 127.0.0.1
      hostnames:
        - kubernetes
